.two-columns{
    width: 80%;
    display: flex;
    align-items: baseline; /* Для того, чтобы brief стал по одной линии с main-text, почему-то без этого, текст брифа, становится чуть выше */
    justify-content: space-between;
  }